.donate-button_lightButton__XcWiJ {
    background: #ccf88e !important;
    color: #274a34 !important
}

@media(hover:hover) {

    .donate-button_lightButton__XcWiJ:not(.donate-button_hrt-primary-button--disabled__sFP4t).donate-button_sb-hover__2_1LS,
    .donate-button_lightButton__XcWiJ:not(.donate-button_hrt-primary-button--disabled__sFP4t):hover {
        background: #e9fcce !important;
        color: #274a34 !important
    }
}

.donate-button_darkButton__YWYAF {
    background: #274a34 !important;
    color: #ccf88e !important
}

@media(hover:hover) {

    .donate-button_darkButton__YWYAF:not(.donate-button_hrt-primary-button--disabled__sFP4t).donate-button_sb-hover__2_1LS,
    .donate-button_darkButton__YWYAF:not(.donate-button_hrt-primary-button--disabled__sFP4t):hover {
        background: #2d6339 !important;
        color: #ccf88e !important
    }
}

.share-button_lightButton__RleQt {
    background: #ccf88e !important;
    color: #274a34 !important
}

.share-button_lightButton__RleQt:hover {
    background: #e9fcce !important
}

.share-button_darkButton__1zxdE {
    background: #274a34 !important;
    color: #ccf88e !important
}

.share-button_darkButton__1zxdE:hover {
    background: #2d6339 !important
}

.donate-and-share-buttons_container__PcL7s {
    display: grid;
    grid-gap: .5rem
}

.donate-and-share-buttons_donateFirst__Q37Sk {
    grid-template-areas: "donate share";
    grid-template-columns: 1fr auto
}

.donate-and-share-buttons_shareOnly__R_mFH {
    display: block;
    width: 100%
}

.donate-and-share-buttons_shareFirst__fMTQp {
    grid-template-areas: "share donate";
    grid-template-columns: auto 1fr
}

.donate-and-share-buttons_donateButton__HiGZu {
    grid-area: donate;
    width: 100%
}

.donate-and-share-buttons_shareButton__psota {
    grid-area: share
}

.campaign-byline_avatarContainer__90zak {
    align-items: center;
    align-self: center;
    color: var(--hrt-color-text-yellow-strong);
    display: flex;
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: 2px
}

.campaign-byline_teamAvatar__U0EZK {
    font-size: 8px;
    margin-right: .25rem
}

.campaign-byline_charityCheckmark__4kMtP {
    margin-top: -3px
}

.campaign-byline_popoverButton__Evyjt {
    padding-left: 3px;
    position: relative;
    top: 5px
}

.campaign-byline_heroMediaAvatar__UW0CP {
    margin-right: .5rem;
    min-width: 1.5rem
}

.campaign-byline_frontAvatar__Go_sL {
    margin-left: -1rem;
    margin-top: .5rem
}

.campaign-byline_avatarStackContainer__XGz8c {
    margin-bottom: .5rem;
    margin-left: 1rem
}

@keyframes animated-hero-media_heroAnimationMobile__ytIR6 {
    0% {
        transform: scale(1.75) translateX(0)
    }

    5% {
        transform: scale(2) translateX(16%)
    }

    55% {
        transform: scale(2) translateX(-16%)
    }

    58% {
        transform: scale(2) translateX(0)
    }

    66%,
    to {
        transform: scale(1.75) translateX(0)
    }
}

@keyframes animated-hero-media_heroAnimationDesktop__rijaw {
    0% {
        transform: scale(1.2) translateX(0)
    }

    5% {
        transform: scale(1.15) translateX(5%)
    }

    55% {
        transform: scale(1.15) translateX(-5%)
    }

    58% {
        transform: scale(1.2) translateX(0)
    }

    66%,
    to {
        transform: scale(1) translateX(0)
    }
}

@keyframes animated-hero-media_expandImage__KBnfG {
    0% {
        transform: scale(1.5) translateY(0)
    }

    to {
        transform: scale(1) translateY(-16px)
    }
}

@keyframes animated-hero-media_contractImage__UYg5j {
    0% {
        transform: scale(1) translateY(-16px)
    }

    to {
        transform: scale(1.75) translateY(0)
    }
}

@keyframes animated-hero-media_fadeInBlur__1ZfLa {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes animated-hero-media_fadeOutBlur__Rb6nC {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes animated-hero-media_textFadeUpAndOut__lMKEF {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(-20px)
    }
}

@keyframes animated-hero-media_textFadeDownAndOut__Da2zV {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(20px)
    }
}

@keyframes animated-hero-media_textFadeDownAndIn__KTVPs {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes animated-hero-media_textFadeUpAndIn__5TVNG {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.animated-hero-media_animatedHeroContainer__VcSB_ {
    cursor: pointer;
    height: 27.4375rem;
    overflow: hidden;
    position: relative
}

@media(min-width:48em) {
    .animated-hero-media_animatedHeroContainer__VcSB_ {
        height: 26.875rem
    }
}

.animated-hero-media_pictureContainer__sbX0x {
    display: block;
    height: 100%
}

.animated-hero-media_pictureContainer__sbX0x.animated-hero-media_expanded__d9IUo {
    z-index: 1
}

@media(min-width:48em) {
    .animated-hero-media_pictureContainer__sbX0x {
        height: 100%
    }
}

.animated-hero-media_animatedImage__A7Oag {
    height: 100%;
    object-fit: cover;
    transform-origin: center
}

@media(max-width:47.999em) {
    .animated-hero-media_animatedImage__A7Oag {
        animation: animated-hero-media_heroAnimationMobile__ytIR6 10s forwards;
        object-fit: contain
    }

    .animated-hero-media_animatedImage__A7Oag.animated-hero-media_expanded__d9IUo {
        animation: animated-hero-media_expandImage__KBnfG .3s forwards
    }

    .animated-hero-media_animatedImage__A7Oag.animated-hero-media_collapsed__tB5K9 {
        animation: animated-hero-media_contractImage__UYg5j .3s forwards
    }
}

@media(min-width:48em) {
    .animated-hero-media_animatedImage__A7Oag {
        animation: animated-hero-media_heroAnimationDesktop__rijaw 10s forwards;
        width: 100%
    }
}

@media(prefers-reduced-motion:reduce) {
    .animated-hero-media_animatedImage__A7Oag {
        animation: none;
        transform: scale(1) translateX(0)
    }
}

.animated-hero-media_blurredBackground__RUK6F {
    background-image: var(--bg-mobile);
    background-position: 50%;
    background-size: cover;
    filter: blur(40px) brightness(.7);
    height: 100%;
    position: absolute;
    transform: scale(1.5);
    width: 100%;
    z-index: 0
}

@media(min-width:48em) {
    .animated-hero-media_blurredBackground__RUK6F {
        background-image: var(--bg-desktop)
    }
}

.animated-hero-media_textContainer__KFq0u {
    background: linear-gradient(180deg, #0006 0, #0000 25%, #fff0), radial-gradient(ellipse 100% 70% at bottom left, #000000b3 0, #0000 100%);
    height: 100%;
    text-shadow: 0 0 1px #000;
    top: 0;
    width: 100%;
    z-index: 2
}

.animated-hero-media_textContainer__KFq0u.animated-hero-media_expanded__d9IUo {
    animation: animated-hero-media_fadeOutBlur__Rb6nC .3s forwards
}

.animated-hero-media_textContainer__KFq0u.animated-hero-media_collapsed__tB5K9 {
    animation: animated-hero-media_fadeInBlur__1ZfLa .3s forwards
}

.animated-hero-media_bylineContainer__GqT3e.animated-hero-media_fadeOut__xNgid {
    animation: animated-hero-media_textFadeUpAndOut__lMKEF .3s forwards
}

.animated-hero-media_bylineContainer__GqT3e.animated-hero-media_fadeIn__uqIM0 {
    animation: animated-hero-media_textFadeDownAndIn__KTVPs .3s forwards
}

.animated-hero-media_titleContainer__m1SnL.animated-hero-media_fadeOut__xNgid {
    animation: animated-hero-media_textFadeDownAndOut__Da2zV .3s forwards
}

.animated-hero-media_titleContainer__m1SnL.animated-hero-media_fadeIn__uqIM0 {
    animation: animated-hero-media_textFadeUpAndIn__5TVNG .3s forwards
}

.animated-hero-media_animatedCampaignTitle__Heu2t {
    font-size: clamp(1.75rem, 1.75rem + .25*(100vw - 23.4375rem)/66.5625, 2rem) !important
}

.campaign-hero_image__587ZT {
    border: .5px solid var(--hrt-color-border-neutral-medium);
    border-radius: .75rem;
    display: block;
    height: 100%;
    overflow: hidden;
    padding-top: 56.25% !important;
    position: relative;
    width: 100%
}

@media(max-width:47.999em) {
    .campaign-hero_image__587ZT {
        border-radius: .5rem
    }
}

.campaign-hero_image__587ZT img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.campaign-hero_image__587ZT .campaign-hero_imagePlaceholder__TxJRH {
    height: 100%;
    top: 0;
    width: 100%
}

.campaign-hero_image__587ZT .campaign-hero_imagePlaceholder__TxJRH .campaign-hero_imagePlaceholderIcon__LKpev {
    color: var(--hrt-color-text-default)
}

@media(max-width:47.999em) {
    .campaign-hero_animatedHero__eLz0j {
        height: 27.4375rem;
        margin-left: -1.5rem !important;
        margin-right: -1.5rem !important
    }
}

@media(min-width:48em) {
    .campaign-hero_animatedHero__eLz0j {
        height: 26.875rem;
        overflow: hidden
    }
}

.competitor-banner_bannerContainer__FuSHi {
    background-color: var(--hrt-color-surface-indigo-subtle);
    border-radius: .25rem;
    padding: 1rem
}

@media(min-width:64em) {
    .competitor-banner_bannerContainer__FuSHi {
        padding: 1.5rem
    }
}

.competitor-banner_competitorLink__yn8QL {
    background-color: initial;
    text-decoration: underline
}

.competitor-banner_competitorLink__yn8QL:hover {
    text-decoration: none
}

.campaign-description_disableUserSelect__xaYaO {
    -webkit-user-select: none;
    user-select: none
}

@media(max-width:63.999em) {
    .campaign-description_campaignDescription__6P_RU {
        margin-bottom: -.5rem
    }
}

.campaign-description_header__3tiFF {
    margin-top: 2rem
}

@media(min-width:64em) {
    .campaign-description_header__3tiFF {
        margin-top: 1.5rem
    }
}

.campaign-description_content__C1C_5 {
    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;
    word-break: break-word
}

.campaign-description_content__C1C_5:after {
    background: linear-gradient(to bottom, #0000, var(--hrt-color-surface-default) 100%);
    bottom: 0;
    content: "";
    display: block;
    height: 2rem;
    position: absolute;
    width: 100%
}

@media(min-width:64em) {
    .campaign-description_content__C1C_5:after {
        background: linear-gradient(to bottom, #0000, var(--hrt-color-surface-default) 100%)
    }
}

.campaign-description_content__C1C_5 img {
    margin-left: auto;
    margin-right: auto;
    max-height: 490px;
    max-width: 490px;
    width: auto
}

@media(max-width:47.999em) {
    .campaign-description_content__C1C_5 img {
        max-width: 100%
    }
}

.campaign-description_content__C1C_5 img:not(:last-child) {
    margin-bottom: 1.5rem
}

.campaign-description_isOpen__4cQeG {
    max-height: inherit
}

.campaign-description_isOpen__4cQeG:after {
    display: none
}

.first-donor-tag_icon__eUbq8 {
    max-height: .875rem
}

.donation_donationContent__EYB39 {
    overflow-wrap: break-word;
    word-break: break-word
}

.donation_donationList__fa1FT .m-meta-list-item,
.donation_donationList__fa1FT .m-meta-list-item:not(:first-child):before {
    margin-right: .5rem
}

.donation-prompt_promptLink__zhzam {
    margin: -.75rem -1.5rem
}

.donation-prompt_promptLink__zhzam.donation-prompt_narrowBleed__QmQnT {
    margin-left: -1.5rem;
    margin-right: -1.5rem
}

@media(min-width:64em) {
    .donation-prompt_promptLink__zhzam {
        margin: -.75rem -2rem
    }
}

.donation-prompt_callout__XylpG {
    border-radius: 0
}

.donation-prompt_callout__XylpG,
.donation-prompt_callout__XylpG.donation-prompt_narrow__cSzry {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

@media(min-width:64em) {
    .donation-prompt_callout__XylpG {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

.donation-prompt_cta__BuhhY {
    text-decoration: underline
}

.donation-prompt_cta__BuhhY:hover {
    text-decoration: none
}

.donation-list_donationListItem__EoNQQ:not(:last-child) {
    padding-bottom: .75rem
}

.donation-list_donationListItem__EoNQQ:not(:first-child) {
    padding-top: .75rem
}

.donation-list_animatedDonationList__ofVTe {
    max-height: 20.0625rem;
    min-height: 1.875rem;
    overflow: hidden
}

.donation-list_animatedDonationListItem__FIj6d:not(:last-child) {
    padding-bottom: 1.5rem
}

.top-supporters-list_animatedDonationList__Oo3jo {
    max-height: 12.1875rem;
    overflow: hidden
}

.top-supporters-list_donationListItem__5zK2d:not(:last-child) {
    padding-bottom: .75rem
}

.top-supporters-list_donationListItem__5zK2d:not(:first-child) {
    padding-top: .75rem
}

.campaign-members-team_campaignMembersTeam__L_gwA {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    grid-template-columns: auto;
    grid-template-rows: auto
}

@media(min-width:64em) {
    .campaign-members-team_campaignMembersTeam__L_gwA {
        grid-column-gap: 2rem;
        grid-template-columns: 1fr 1fr
    }

    .campaign-members-team_campaignMembersTeam__L_gwA>:first-child {
        -ms-grid-column: 1;
        -ms-grid-row: 1
    }

    .campaign-members-team_campaignMembersTeam__L_gwA>:nth-child(2) {
        -ms-grid-column: 3;
        -ms-grid-row: 1
    }

    .campaign-members-team_campaignMembersTeam__L_gwA>:nth-child(3) {
        -ms-grid-column: 1;
        -ms-grid-row: 2
    }

    .campaign-members-team_campaignMembersTeam__L_gwA>:nth-child(4) {
        -ms-grid-column: 3;
        -ms-grid-row: 2
    }
}

.campaign-members-main_campaignMembersMain__mmNDj {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas: "organizer" "contact";
    grid-template-columns: auto;
    grid-template-rows: auto
}

@media(min-width:64em) {
    .campaign-members-main_campaignMembersMain__mmNDj {
        -ms-grid-columns: 1fr 1fr;
        grid-template-areas: "organizer" "contact";
        grid-template-columns: auto auto
    }
}

.campaign-members-main_hasBeneficiary__Q_wnu {
    grid-template-areas: "organizer" "contact" "beneficiary"
}

@media(min-width:64em) {
    .campaign-members-main_hasBeneficiary__Q_wnu {
        grid-column-gap: 2rem;
        grid-template-areas: "organizer beneficiary" "contact contact";
        grid-template-columns: 1fr 1fr
    }
}

.campaign-members-main_charityOrganized__qdExo {
    grid-template-areas: "beneficiary" "contact"
}

@media(min-width:64em) {
    .campaign-members-main_charityOrganized__qdExo {
        grid-template-areas: "beneficiary contact"
    }
}

.campaign-members-main_organizer__NRaa5 {
    display: flex;
    grid-area: organizer
}

.campaign-members-main_beneficiary__pA6vB {
    grid-area: beneficiary
}

.campaign-members-main_contact__xHCnO {
    grid-area: contact
}

.campaign-members-main_hasBeneContact__FONnT {
    margin-left: 3.5rem;
    margin-top: 0;
    text-align: left
}

.campaign-members-main_hasPartnerDesignatedRecipient__t2_gO {
    cursor: pointer;
    text-decoration: underline
}

@media(min-width:64em) {
    .campaign-members-main_charityOrganizedContact__oyJxe {
        margin-bottom: auto;
        margin-top: auto;
        text-align: right
    }
}

.campaign-members-main_arrow__NO3t3 {
    margin: 0 auto
}

.campaign-members_campaignMembersHeader__S99vj {
    align-items: flex-start
}

@media(min-width:64em) {
    .campaign-members_campaignMembersHeader__S99vj {
        align-items: center
    }

    .campaign-members_campaignMembersHeaderTitle__2iegQ {
        align-items: center;
        display: flex
    }

    .campaign-sidebar_sidebar__2TEAT {
        background: var(--hrt-color-surface-default);
        border-radius: .75rem;
        box-shadow: 0 .3125rem 1rem -.1875rem #0003;
        padding-bottom: 1.5rem
    }

    .campaign-sidebar_wrapper__Ay4Wk {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem
    }
}

@media(min-width:48em) {
    .campaign-modal_modal__tTota {
        max-height: 90dvh
    }
}

.campaign-modal_header__RTzYQ {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    margin-bottom: .5rem;
    width: 100%
}

.campaign-modal_subHeader__tFxw4 {
    min-height: auto
}

.campaign-modal_headerTitleRow___zIp0 {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between
}

.campaign-modal_headerTitle__ZKG_K {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 90%
}

.expansion-list-wrapper_header__1J886 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.expansion-list-wrapper_filter__f0Kqj {
    border-radius: 1rem
}

.mme-service-banner_mmeServiceBanner__dYRN3 {
    align-items: center;
    background-color: var(--hrt-color-surface-indigo-subtle);
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    display: flex;
    grid-area: service-date-banner;
    justify-content: space-between;
    padding: 1rem
}

@media(max-width:47.999em) {
    .mme-service-banner_mmeServiceBanner__dYRN3 {
        margin-bottom: 1rem
    }
}

@media(max-width:63.999em) {
    .mme-service-banner_mmeServiceBanner__dYRN3 {
        margin-left: -.5rem;
        margin-right: -.5rem;
        margin-top: 1rem
    }
}

@media(min-width:64em) {
    .mme-service-banner_mmeServiceBanner__dYRN3 {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0
    }
}

.mme-service-banner_text__PB6hs {
    color: var(--hrt-color-text-default);
    font-size: .875rem
}

.mme-service-banner_text__PB6hs strong {
    font-size: 1rem
}

.donation-tiles_donationTilesContainer__B_s_m {
    gap: .5rem;
    grid-area: tiles-item
}

.donation-tiles_donationTile__ydNQB {
    border: 1px solid var(--hrt-color-border-neutral-subtle)
}

.empty-early-donation-state_donorBadgeText__4hrIW {
    font-size: .625rem;
    margin-top: -1rem
}

.empty-early-donation-state_emptyEarlyStateHeader__Mf_RZ {
    grid-area: left-top;
    grid-row: span 2
}

@media(min-width:64em) {
    .empty-early-donation-state_emptyEarlyStateHeader__Mf_RZ {
        grid-row: 1/2
    }
}

.empty-early-donation-state_emptyEarlyStateAnimation__t3a8F {
    display: flex;
    grid-area: right-item;
    justify-self: right
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_firstCircle__yscts {
        animation: circle-goal-bar_firstPulsate__3zAtn 3667ms linear normal forwards
    }
}

@keyframes circle-goal-bar_firstPulsate__3zAtn {
    0% {
        transform: translate(500px, 500px) scale(0)
    }

    21.816199% {
        animation-timing-function: cubic-bezier(.300392, .009993, .000392, .99871);
        transform: translate(500px, 500px) scale(0)
    }

    62.721571% {
        transform: translate(500px, 500px) scale(1)
    }

    to {
        transform: translate(500px, 500px) scale(1)
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_secondCircle__jAlUt {
        animation: circle-goal-bar_secondPulsate__BDFoX 3667ms linear normal forwards
    }
}

@keyframes circle-goal-bar_secondPulsate__BDFoX {
    0% {
        transform: translate(500px, 500px) scale(0)
    }

    27.270248% {
        animation-timing-function: cubic-bezier(.300392, .009993, .000392, .99871);
        transform: translate(500px, 500px) scale(0)
    }

    70.902645% {
        transform: translate(500px, 500px) scale(1)
    }

    to {
        transform: translate(500px, 500px) scale(1)
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_bgGradientStroke0__LeaYg {
        animation: circle-goal-bar_bgGradientStroke0Fill__oKRaV 3667ms linear normal forwards
    }

    .circle-goal-bar_bgGradientStroke0__LeaYg.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_bgGradientStroke0FillYellow__3VETW
    }
}

@keyframes circle-goal-bar_bgGradientStroke0Fill__oKRaV {
    0% {
        stop-color: #03c86d
    }

    7.362967% {
        stop-color: #03c86d
    }

    22.634306% {
        stop-color: #cef3bd
    }

    to {
        stop-color: #cef3bd
    }
}

@keyframes circle-goal-bar_bgGradientStroke0FillYellow__3VETW {
    0% {
        stop-color: #fdb933
    }

    7.362967% {
        stop-color: #fdb933
    }

    22.634306% {
        stop-color: #f9db74
    }

    to {
        stop-color: #f9db74
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_bgGradientStroke1__NYTPQ {
        animation: circle-goal-bar_bgGradientStroke1Fill___p3Ix 3667ms linear normal forwards
    }

    .circle-goal-bar_bgGradientStroke1__NYTPQ.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_bgGradientStroke1FillYellow__7iQ54
    }
}

@media(prefers-reduced-motion:reduce) {
    .circle-goal-bar_bgGradientStroke1__NYTPQ {
        animation: circle-goal-bar_bgGradientStroke1Fill___p3Ix 0s linear normal forwards
    }

    .circle-goal-bar_bgGradientStroke1__NYTPQ.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_bgGradientStroke1FillYellow__7iQ54
    }
}

@keyframes circle-goal-bar_bgGradientStroke1Fill___p3Ix {
    0% {
        stop-color: #02a95c
    }

    7.362967% {
        stop-color: #02a95c
    }

    22.634306% {
        stop-color: #03c86d
    }

    to {
        stop-color: #03c86d
    }
}

@keyframes circle-goal-bar_bgGradientStroke1FillYellow__7iQ54 {
    0% {
        stop-color: #f7933f
    }

    7.362967% {
        stop-color: #f7933f
    }

    22.634306% {
        stop-color: #fdb933
    }

    to {
        stop-color: #fdb933
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_bgGradientStroke2__uGGif {
        animation: circle-goal-bar_bgGradientStroke2Fill__V1Yyf 3667ms linear normal forwards
    }

    .circle-goal-bar_bgGradientStroke2__uGGif.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_bgGradientStroke2FillYellow__74HTU
    }
}

@media(prefers-reduced-motion:reduce) {
    .circle-goal-bar_bgGradientStroke2__uGGif {
        animation: circle-goal-bar_bgGradientStroke2Fill__V1Yyf 0s linear normal forwards
    }

    .circle-goal-bar_bgGradientStroke2__uGGif.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_bgGradientStroke2FillYellow__74HTU
    }
}

@keyframes circle-goal-bar_bgGradientStroke2Fill__V1Yyf {
    0% {
        stop-color: #03c86d
    }

    7.362967% {
        stop-color: #03c86d
    }

    22.634306% {
        stop-color: #03c86d
    }

    to {
        stop-color: #03c86d
    }
}

@keyframes circle-goal-bar_bgGradientStroke2FillYellow__74HTU {
    0% {
        stop-color: #fdb933
    }

    7.362967% {
        stop-color: #fdb933
    }

    22.634306% {
        stop-color: #fdb933
    }

    to {
        stop-color: #fdb933
    }
}

.circle-goal-bar_bgGradientStroke0__LeaYg,
.circle-goal-bar_bgGradientStroke1__NYTPQ,
.circle-goal-bar_bgGradientStroke2__uGGif {
    animation-iteration-count: 1
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_bgGradientPath__fCxmC {
        animation: circle-goal-bar_bgGradientPathStroke__DC2Gv 3667ms linear normal forwards
    }
}

@media(prefers-reduced-motion:reduce) {
    .circle-goal-bar_bgGradientPath__fCxmC {
        animation: circle-goal-bar_bgGradientPathStroke__DC2Gv 0s linear normal forwards
    }
}

@keyframes circle-goal-bar_bgGradientPathStroke__DC2Gv {
    0% {
        animation-timing-function: cubic-bezier(.3, .01, 0, 1);
        stroke-dasharray: 0, 0, 0, 1963.78
    }

    27.270248% {
        stroke-dasharray: 0, 0, 1571.01, 392.76
    }

    to {
        stroke-dasharray: 0, 0, 1571.01, 392.76
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_gradientRotatedG__hnkcS {
        animation: circle-goal-bar_gradientRotatedGOpacity__6v5SJ 3667ms linear normal forwards
    }
}

@media(prefers-reduced-motion:reduce) {
    .circle-goal-bar_gradientRotatedG__hnkcS {
        animation: circle-goal-bar_gradientRotatedGOpacity__6v5SJ 0s linear normal forwards
    }
}

@keyframes circle-goal-bar_gradientRotatedGOpacity__6v5SJ {
    0% {
        opacity: 0
    }

    9.080993% {
        opacity: 0
    }

    18.189256% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_gradientRotatedPathB__FPj24 {
        animation: circle-goal-bar_gradientRotatedPathBDashArray__YtnSg 3667ms linear normal forwards
    }
}

@media(prefers-reduced-motion:reduce) {
    .circle-goal-bar_gradientRotatedPathB__FPj24 {
        animation: circle-goal-bar_gradientRotatedPathBDashArray__YtnSg 0s linear normal forwards
    }
}

@keyframes circle-goal-bar_gradientRotatedPathBDashArray__YtnSg {
    0% {
        stroke-dasharray: 0, 785.51, 0, 0
    }

    7.281156% {
        animation-timing-function: cubic-bezier(.3, .01, 0, 1);
        stroke-dasharray: 0, 785.51, 0, 0
    }

    28.170166% {
        stroke-dasharray: 0, 0, 785.51, 0
    }

    to {
        stroke-dasharray: 0, 0, 785.51, 0
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_gradientRotatedStroke0__mW7Es {
        animation: circle-goal-bar_gradientRotatedStroke0Gradient__AzWx_ 3667ms linear normal forwards
    }

    .circle-goal-bar_gradientRotatedStroke0__mW7Es.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_gradientRotatedStroke0GradientYellow__mewLm
    }
}

@media(prefers-reduced-motion:reduce) {
    .circle-goal-bar_gradientRotatedStroke0__mW7Es {
        animation: circle-goal-bar_gradientRotatedStroke0Gradient__AzWx_ 0s linear normal forwards
    }

    .circle-goal-bar_gradientRotatedStroke0__mW7Es.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_gradientRotatedStroke0GradientYellow__mewLm
    }
}

@keyframes circle-goal-bar_gradientRotatedStroke0Gradient__AzWx_ {
    0% {
        stop-color: #02a95c
    }

    7.362967% {
        stop-color: #02a95c
    }

    14.998636% {
        stop-color: #02a258
    }

    18.271066% {
        stop-color: #029e56
    }

    22.634306% {
        stop-color: #019953
    }

    to {
        stop-color: #019953
    }
}

@keyframes circle-goal-bar_gradientRotatedStroke0GradientYellow__mewLm {
    0% {
        stop-color: #fdb933
    }

    7.362967% {
        stop-color: #fdb933
    }

    14.998636% {
        stop-color: #fdb933
    }

    18.271066% {
        stop-color: #fdb933
    }

    22.634306% {
        stop-color: #f7933f
    }

    to {
        stop-color: #f7933f
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_gradientRotatedStroke1__5M0jH {
        animation: circle-goal-bar_gradientRotatedStroke1Gradient__F_x1W 3667ms linear normal forwards
    }

    .circle-goal-bar_gradientRotatedStroke1__5M0jH.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_gradientRotatedStroke1GradientYellow__CKYG6
    }
}

@media(prefers-reduced-motion:reduce) {
    .circle-goal-bar_gradientRotatedStroke1__5M0jH {
        animation: circle-goal-bar_gradientRotatedStroke1Gradient__F_x1W 0s linear normal forwards
    }

    .circle-goal-bar_gradientRotatedStroke1__5M0jH.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_gradientRotatedStroke1GradientYellow__CKYG6
    }
}

@keyframes circle-goal-bar_gradientRotatedStroke1Gradient__F_x1W {
    0% {
        stop-color: #09a45b
    }

    7.362967% {
        stop-color: #09a45b
    }

    14.998636% {
        stop-color: #23b16a
    }

    18.271066% {
        stop-color: #35b571
    }

    22.634306% {
        stop-color: #4ebb7b
    }

    to {
        stop-color: #4ebb7b
    }
}

@keyframes circle-goal-bar_gradientRotatedStroke1GradientYellow__CKYG6 {
    0% {
        stop-color: #f7933f
    }

    7.362967% {
        stop-color: #f7933f
    }

    14.998636% {
        stop-color: #f8b054
    }

    18.271066% {
        stop-color: #f8b054
    }

    22.634306% {
        stop-color: #f8b054
    }

    to {
        stop-color: #f8b054
    }
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_gradientRotatedStroke2__qPj3N {
        animation: circle-goal-bar_gradientRotatedStroke2Gradient___nYAd 3667ms linear normal forwards
    }

    .circle-goal-bar_gradientRotatedStroke2__qPj3N.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_gradientRotatedStroke2GradientYellow__MRF_p
    }
}

@media(prefers-reduced-motion:reduce) {
    .circle-goal-bar_gradientRotatedStroke2__qPj3N {
        animation: circle-goal-bar_gradientRotatedStroke2Gradient___nYAd 0s linear normal forwards
    }

    .circle-goal-bar_gradientRotatedStroke2__qPj3N.circle-goal-bar_yellow__Ze_pF {
        animation-name: circle-goal-bar_gradientRotatedStroke2GradientYellow__MRF_p
    }
}

@keyframes circle-goal-bar_gradientRotatedStroke2Gradient___nYAd {
    0% {
        stop-color: #4ebb7b
    }

    7.362967% {
        stop-color: #4ebb7b
    }

    14.998636% {
        stop-color: #4ebb7b
    }

    18.271066% {
        stop-color: #03c86d
    }

    22.634306% {
        stop-color: #03c86d
    }

    to {
        stop-color: #03c86d
    }
}

@keyframes circle-goal-bar_gradientRotatedStroke2GradientYellow__MRF_p {
    0% {
        stop-color: #fdb933
    }

    7.362967% {
        stop-color: #fdb933
    }

    14.998636% {
        stop-color: #fdb933
    }

    18.271066% {
        stop-color: #fdb933
    }

    22.634306% {
        stop-color: #fdb933
    }

    to {
        stop-color: #fdb933
    }
}

.circle-goal-bar_text__kksyP {
    animation-delay: .83s;
    font-size: .875rem;
    position: relative
}

@media(prefers-reduced-motion:no-preference) {
    .circle-goal-bar_text__kksyP {
        animation: circle-goal-bar_text-fade-in__gVVLV .33s linear forwards;
        opacity: 0
    }
}

.circle-goal-bar_gradientText__O1MjR {
    font-size: 6rem
}

@keyframes circle-goal-bar_text-fade-in__gVVLV {
    0% {
        bottom: -15px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.locale-picker_localePickerButton__WsmkM {
    border-radius: .75rem;
    font-size: .875rem !important;
    font-weight: 400 !important;
    padding: .5rem !important
}

@media(max-width:47.999em) {
    .locale-picker_localePickerButton__WsmkM {
        width: 100%
    }
}

@keyframes progress-meter_expandHeroMedia__at_em {
    0% {
        border-radius: 0;
        margin-left: .5rem;
        margin-right: .5rem;
        margin-top: .5rem;
        padding: 0
    }

    to {
        border-radius: 1.5rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        margin-top: -1.5rem;
        padding: 1.5rem 1.5rem 0
    }
}

.progress-meter_progressMeter__BYOlt {
    align-items: center;
    display: grid;
    grid-area: progress;
    grid-template-areas: "left-top left-top right-item" "left-bottom left-bottom right-item"
}

@media(min-width:23.4375em) {
    .progress-meter_progressMeter__BYOlt {
        margin-bottom: .5rem
    }
}

@media(min-width:64em) {
    .progress-meter_progressMeter__BYOlt {
        margin-bottom: 1rem
    }
}

@media(max-width:47.999em) {
    .progress-meter_progressMeter__BYOlt {
        border: 1px solid var(--hrt-color-border-neutral-subtle);
        border-radius: .75rem;
        margin-bottom: .75rem;
        margin-top: .25rem;
        padding: 1rem
    }
}

.progress-meter_progressMeter__BYOlt.progress-meter_hasDonationTiles__XPyBl {
    grid-template-areas: "left-top left-top right-item" "left-bottom left-bottom right-item" "tiles-item tiles-item tiles-item"
}

.progress-meter_progressMeter__BYOlt.progress-meter_animatedHeroMedia__35z0M {
    animation: progress-meter_expandHeroMedia__at_em .3s forwards;
    background: var(--hrt-color-surface-default);
    border: none;
    z-index: 3
}

.progress-meter_circleProgressMeterInactive__29DJ0 {
    border: 0;
    padding: 0
}

.progress-meter_progressMeterHeading__A6Slt {
    margin-bottom: .5rem
}

@media(min-width:64em) {
    .progress-meter_progressMeterHeading__A6Slt {
        grid-row: 1/2
    }
}

.progress-meter_progressBarHeading__Nxc77 {
    font-size: clamp(1.25rem, 1.25rem + .25*(100vw - 23.4375rem)/66.5625, 1.5rem);
    font-weight: 600
}

@media(min-width:48em) {

    .progress-meter_inactiveProgressBarHeading__STbI3,
    .progress-meter_progressBarHeading__Nxc77 {
        font-size: clamp(1.25rem, 1.25rem + .25*(100vw - 23.4375rem)/66.5625, 1.5rem)
    }
}

.progress-meter_circleProgressBar__UW05M {
    display: flex;
    grid-area: right-item;
    justify-self: right
}

.progress-meter_circleProgressMeterHeading__ddvh4 {
    align-self: end;
    display: grid;
    grid-area: left-top;
    margin-bottom: 0
}

.progress-meter_circleGoalDonations__5gSh1 {
    align-self: start;
    color: var(--hrt-color-text-supporting);
    grid-area: left-bottom
}

.progress-meter_circleProgressMeterGridNoFunds__IO99j {
    align-items: center;
    display: grid;
    grid-template-areas: "left right"
}

.progress-meter_circleProgressMeterHeadingNoFunds__uCy6B {
    align-self: center;
    grid-area: left
}

.progress-meter_circleProgressBarNoFunds__X2zuz {
    grid-area: right;
    justify-self: right
}

.progress-meter_donationTiles__hrc50 {
    margin-bottom: 1rem
}

@media(max-width:63.999em) {
    .progress-meter_donationTiles__hrc50 {
        grid-area: early-state-tiles;
        margin-bottom: .75rem
    }
}

.default-footer_defaultFooter__ISvRD .shared-default-footer-locale {
    grid-area: locale
}

@media(max-width:47.999em) {
    .default-footer_defaultFooter__ISvRD .shared-default-footer-legal-date {
        margin-bottom: .5rem
    }
}

.default-footer_defaultFooter__ISvRD .shared-default-footer-stores {
    align-items: center;
    display: flex;
    grid-area: stores
}

@media(min-width:64em) {
    .default-footer_defaultFooter__ISvRD .shared-default-footer-stores {
        justify-content: flex-end
    }
}

.default-footer_defaultFooter__ISvRD .shared-default-footer-store-button {
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 2.125rem;
    text-indent: -9999px
}

.default-footer_defaultFooter__ISvRD .shared-default-footer-store-button--apple {
    height: 2.125rem;
    width: 6.375rem
}

.default-footer_defaultFooter__ISvRD .shared-default-footer-store-button--google {
    height: 2.125rem;
    margin-right: .5rem;
    width: 7.3125rem
}

.default-footer_defaultFooter__ISvRD .shared-default-footer-store-button--fr {
    width: 6.75rem
}

.share-and-donate_container__vOMFv {
    display: grid;
    grid-gap: .5rem
}

.share-and-donate_donateFirst__wwgSk {
    grid-template-areas: "donate" "share";
    grid-template-rows: auto auto
}

.share-and-donate_shareFirst__8Npy9 {
    grid-template-areas: "share" "donate";
    grid-template-rows: auto auto
}

.share-and-donate_donateButton__4RQJS {
    grid-area: donate;
    width: 100%
}

.share-and-donate_shareButton__XjLFP {
    grid-area: share
}

.default-header_shared-default-header__Nebuq [data-element-id=btn_nav_search_icon] {
    font-size: 1rem !important
}

.default-header_shared-default-header__Nebuq .hrt-tertiary-button {
    line-height: 1.2;
    min-height: 2.125rem
}

.default-header_shared-default-header-giving-funds-button__FWP_C {
    min-width: 9.375rem;
    width: min-content
}

.default-header_shared-default-header-individuals-dropdown__hqpAQ {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.default-header_shared-default-header-person__gbs0b {
    align-self: center
}

.default-header_shared-default-header-sign-up-button__xQ4v9 {
    border-radius: 624.9375rem;
    margin-left: .5rem;
    padding: .25rem 1rem
}

.default-header_shared-default-header-sign-up-button__xQ4v9[class*=hrt-primary-button] {
    background-color: var(--hrt-color-surface-positive-strong);
    border-color: #0000;
    color: var(--hrt-color-text-on-strong)
}

.default-header_shared-default-header-sign-up-button__xQ4v9[class*=hrt-primary-button]:hover {
    background-color: var(--hrt-color-surface-brand-hover);
    color: var(--hrt-color-text-on-strong)
}

.brand-value-propositions_brandValuePropositions__ZcSfv {
    padding-bottom: 4.5rem;
    padding-top: 4.5rem
}

@media(min-width:48em) {
    .brand-value-propositions_brandValuePropositions__ZcSfv {
        padding-bottom: 5.5rem;
        padding-top: 5.5rem
    }
}

.sitewide-banner_cta__OSogR {
    white-space: nowrap
}

.date-and-category_dateAndCategory__m56MT {
    font-size: 1rem !important;
    padding-bottom: 1rem;
    padding-top: 1rem;
    row-gap: 1rem
}

.date-and-category_dateAndCategory__m56MT .m-meta-list-item:not(:first-child):before {
    color: var(--hrt-color-text-disabled)
}

.sitewide-emergency-banner_banner__Saq3z {
    background: var(--hrt-color-surface-red-subtle);
    margin-bottom: .5rem;
    padding: 1.5rem;
    position: relative;
    text-align: center;
    z-index: 1
}

.sticky_stickyCta__dBfjV {
    position: relative;
    z-index: 1
}

.sticky_inner__AM7EH {
    background-color: var(--hrt-color-surface-default);
    box-shadow: 0 2px 6px #0000001a;
    min-height: 5rem;
    opacity: 0;
    padding: 1rem 1.5rem;
    position: fixed;
    transition: top .2s ease-in-out, opacity .2s ease-in-out;
    width: 100%
}

.sticky_inner__AM7EH button {
    min-width: 110px;
    -webkit-tap-highlight-color: transparent
}

@media(min-width:64em) {
    .sticky_inner__AM7EH {
        display: none
    }
}

.sticky_top__2anFj {
    top: -90px
}

.sticky_bottom__ma5tm {
    bottom: -80px;
    padding-bottom: env(safe-area-inset-bottom);
    transition: bottom .2s ease-in-out, opacity .2s ease-in-out, background-color .5s ease
}

.sticky_isOpen__bpg5W {
    opacity: 1
}

.sticky_topOpen__obsk6 {
    top: 0
}

.sticky_bottomOpen__ty4KA {
    bottom: 0;
    left: 0
}

.sticky_ctaClipsGray__x0_Mz {
    transition: background-color .5s ease
}

@media(max-width:63.999em) {
    .page-campaign-layout_footer__KTsOX {
        padding-bottom: 3rem
    }
}

.page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-header,
.page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-template-top {
    transition: all .5s ease
}

.page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-template-top {
    background-color: var(--hrt-color-surface-default);
    position: relative;
    z-index: 100
}

.page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-template-alert {
    position: sticky;
    top: 0;
    z-index: 10
}

@media(min-width:64em) {
    .page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-template-content {
        margin-top: 2rem !important
    }

    .page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-template--stats:not(.t-campaign-page-template--stats-hide-widget) {
        width: max(75%, 100vw - 390px)
    }

    .page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-stats-widget {
        background: var(--hrt-color-surface-neutral-subtle);
        box-shadow: 0 0 5px #ddd;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100
    }

    .page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-stats-widget:not(.t-campaign-page-stats-widget-hide-widget) {
        display: inline-flex;
        flex-direction: column;
        height: 100vh;
        max-width: 390px;
        padding: 1rem;
        width: 25%
    }
}

@media(orientation:portrait) {

    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .m-campaign-sidebar-notification,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .m-progress-meter-heading,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .p-campaign-byline,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .p-campaign-description,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .p-campaign-title,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .progress-meter,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-header,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-template-top,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s progress {
        opacity: 0
    }

    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .m-sticky-cta-inner,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-header,
    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .t-campaign-page-template-top {
        background-color: #000
    }

    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .cta-clips-gray {
        background: var(--hrt-color-surface-neutral-strong);
        color: var(--hrt-color-text-on-strong)
    }

    body[data-dim-body] .page-campaign-layout_campaignPageLayout__ZK9_s .o-campaign-story {
        color: #000
    }
}

.campaign-page_campaign__SFW7x .p-campaign {
    display: grid;
    grid-template-areas: "partner-banner" "service-date-banner" "collage" "header" "progress" "share-and-donate" "status" "collections-placement-one" "byline" "description" "content" "reportbutton" " referrals" "valueprops" "sidebar";
    grid-template-columns: 1fr;
    grid-template-rows: auto
}

@media(min-width:64em) {
    .campaign-page_campaign__SFW7x .p-campaign {
        grid-template-areas: "partner-banner partner-banner partner-banner partner-banner" "header header header header" "collage collage collage sidebar" "byline byline . sidebar" "description description . sidebar" "content content . sidebar" "reportbutton reportbutton . sidebar" "referrals referrals . sidebar" "valueprops valueprops valueprops valueprops";
        grid-template-columns: 4fr 4fr 0fr 4.5fr;
        grid-template-rows: auto
    }
}

@media(min-width:72em) {
    .campaign-page_campaign__SFW7x .p-campaign {
        grid-template-columns: 4fr 4fr .5fr 4.5fr
    }
}

.campaign-page_campaign__SFW7x .p-campaign .hrt-rule--horizontal {
    margin-bottom: 3rem;
    margin-top: 2.5rem
}

@media(max-width:63.999em) {
    .campaign-page_campaign__SFW7x .p-campaign .hrt-rule--horizontal {
        margin-bottom: 2rem;
        margin-top: 1.75rem
    }
}

.campaign-page_campaign__SFW7x .p-campaign.clips {
    padding-top: 1rem
}

@media(max-width:63.999em) {
    .campaign-page_campaign__SFW7x .p-campaign.clips {
        grid-template-areas: "status" "partner-banner" "service-date-banner" "header" "progress" "collage" "collections-placement-one" "byline" "description" "content" "reportbutton" "referrals" "valueprops"
    }

    .campaign-page_campaign__SFW7x .p-campaign.clips .p-campaign-header {
        margin-bottom: 1rem;
        margin-top: 2rem;
        width: calc(100% - .5rem)
    }

    .campaign-page_campaign__SFW7x .p-campaign.clips .a-progress-bar {
        margin-bottom: .25rem;
        width: 100%
    }

    .campaign-page_campaign__SFW7x .p-campaign.clips .p-campaign-byline {
        margin-top: 1.5rem
    }

    .campaign-page_campaign__SFW7x .p-campaign.clips .clips-scroll-snap {
        scroll-margin-bottom: 80px;
        scroll-snap-align: start
    }

    .campaign-page_campaign__SFW7x .p-campaign.clips .clips-no-snap,
    .campaign-page_campaign__SFW7x .p-campaign.clips .clips-scroll-snap {
        background-color: var(--hrt-color-surface-neutral-strong);
        border-radius: 1em;
        text-align: center
    }

    .campaign-page_campaign__SFW7x .p-campaign.clips .p-campaign-collage--clips {
        border-radius: 1em;
        margin-left: -1rem;
        margin-right: -1rem
    }
}

@media(max-width:63.999em)and (orientation:landscape) {
    .campaign-page_campaign__SFW7x .p-campaign.clips .clips-scroll-snap {
        scroll-snap-align: none
    }
}

@media(max-width:63.999em) {
    .campaign-page_campaign__SFW7x .p-campaign.earlyStateTiles {
        grid-template-areas: "partner-banner" "service-date-banner" "collage" "header" "progress" "early-state-tiles" "share-and-donate" "status" "collections-placement-one" "byline" "description" "content" "reportbutton" " referrals" "valueprops" "sidebar"
    }
}

.campaign-page_campaign__SFW7x .p-campaign-collage--clips {
    background-color: var(--hrt-color-surface-neutral-strong)
}

.campaign-page_campaign__SFW7x .p-campaign-header {
    grid-area: header;
    margin-bottom: .5rem;
    margin-left: 0;
    margin-top: 1rem
}

@media(min-width:64em) {
    .campaign-page_campaign__SFW7x .p-campaign-header {
        margin-bottom: 0;
        margin-top: 1rem
    }
}

.campaign-page_campaign__SFW7x .p-campaign-title {
    font-size: calc(28px + 12*(100vw - 375px)/777);
    line-height: 1.2;
    margin-bottom: 0
}

@media screen and (min-width:72em) {
    .campaign-page_campaign__SFW7x .p-campaign-title {
        font-size: 2.5rem
    }
}

@media screen and (max-width:375px) {
    .campaign-page_campaign__SFW7x .p-campaign-title {
        font-size: clamp(1.75rem, 1.75rem + .25*(100vw - 23.4375rem)/66.5625, 2rem)
    }
}

.campaign-page_campaign__SFW7x .p-campaign-sidebar {
    grid-area: sidebar;
    margin: .5rem 0 0
}

@media(min-width:64em) {
    .campaign-page_campaign__SFW7x .p-campaign-sidebar {
        margin-left: 1.5rem;
        margin-top: 1.5rem;
        position: relative
    }

    .campaign-page_campaign__SFW7x .p-campaign-sidebar .o-campaign-sidebar {
        position: sticky;
        top: 1rem
    }
}

.campaign-page_campaign__SFW7x .p-campaign-collage {
    grid-area: collage;
    margin-top: 1.5rem
}

@media(min-width:23.4375em) {
    .campaign-page_campaign__SFW7x .p-campaign-collage {
        border-radius: .5rem
    }
}

@media(max-width:47.999em) {
    .campaign-page_campaign__SFW7x .p-campaign-collage {
        margin-top: 0
    }
}

@media(min-width:48em) {
    .campaign-page_campaign__SFW7x .p-campaign-collage {
        border-radius: .75rem
    }
}

@media(max-width:63.999em) {
    .campaign-page_campaign__SFW7x .p-campaign-collage {
        margin-left: -.5rem;
        margin-right: -.5rem
    }
}

.campaign-page_campaign__SFW7x .p-campaign-collage--video {
    background-color: initial !important;
    height: 14em
}

@media print,
screen and (min-width:48.0625rem) {
    .campaign-page_campaign__SFW7x .p-campaign-collage--video {
        height: 20.8em
    }
}

@media print,
screen and (min-width:71.875rem) {
    .campaign-page_campaign__SFW7x .p-campaign-collage--video {
        height: 25.66em
    }
}

.campaign-page_campaign__SFW7x .p-campaign-placement-one {
    grid-area: collections-placement-one;
    margin-top: 1.5rem
}

.campaign-page_campaign__SFW7x .p-campaign-byline {
    grid-area: byline;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 0 .5rem
}

@media(max-width:47.999em) {
    .campaign-page_campaign__SFW7x .p-campaign-byline {
        padding: 0
    }
}

@media(min-width:64em) {
    .campaign-page_campaign__SFW7x .p-campaign-byline {
        margin-bottom: 1rem;
        margin-top: 1rem;
        max-width: 664px;
        position: relative
    }
}

.campaign-page_campaign__SFW7x .p-campaign-description {
    grid-area: description;
    padding: 0 .5rem 2rem
}

@media(max-width:47.999em) {
    .campaign-page_campaign__SFW7x .p-campaign-description {
        padding: 0
    }
}

@media(min-width:64em) {
    .campaign-page_campaign__SFW7x .p-campaign-description {
        max-width: 664px;
        position: relative
    }
}

.campaign-page_campaign__SFW7x .p-campaign-content {
    grid-area: content;
    margin-top: 1rem
}

@media(max-width:47.999em) {
    .campaign-page_campaign__SFW7x .p-campaign-content {
        margin-top: .25rem
    }
}

@media(min-width:64em) {
    .campaign-page_campaign__SFW7x .p-campaign-content {
        max-width: 664px;
        padding: 0 .5rem
    }
}

.campaign-page_campaign__SFW7x .p-campaign-content--mobile-buttons {
    margin-top: 1.75rem
}

.campaign-page_campaign__SFW7x .p-campaign-brand-value-proposition,
.campaign-page_campaign__SFW7x .p-campaign-comments,
.campaign-page_campaign__SFW7x .p-campaign-donations,
.campaign-page_campaign__SFW7x .p-campaign-members,
.campaign-page_campaign__SFW7x .p-campaign-updates {
    grid-area: valueprops;
    margin-bottom: 2.5rem;
    margin-top: 3rem
}

@media(min-width:64em) {

    .campaign-page_campaign__SFW7x .p-campaign-brand-value-proposition,
    .campaign-page_campaign__SFW7x .p-campaign-comments,
    .campaign-page_campaign__SFW7x .p-campaign-donations,
    .campaign-page_campaign__SFW7x .p-campaign-members,
    .campaign-page_campaign__SFW7x .p-campaign-updates {
        padding: 0 .5rem
    }
}

@media(max-width:47.999em) {

    .campaign-page_campaign__SFW7x .p-campaign-brand-value-proposition,
    .campaign-page_campaign__SFW7x .p-campaign-comments,
    .campaign-page_campaign__SFW7x .p-campaign-donations,
    .campaign-page_campaign__SFW7x .p-campaign-members,
    .campaign-page_campaign__SFW7x .p-campaign-updates {
        margin-bottom: 2rem;
        margin-top: 1.75rem
    }
}

.campaign-page_campaign__SFW7x .p-campaign-donations h2,
.campaign-page_campaign__SFW7x .p-campaign-members h2,
.campaign-page_campaign__SFW7x .p-campaign-updates h2 {
    margin-bottom: 1.5rem
}

@media(min-width:64em) {

    .campaign-page_campaign__SFW7x .p-campaign-donations h2,
    .campaign-page_campaign__SFW7x .p-campaign-members h2,
    .campaign-page_campaign__SFW7x .p-campaign-updates h2 {
        margin-bottom: 2rem
    }
}

.campaign-page_campaign__SFW7x .p-campaign-updates {
    margin-top: 0 !important
}

.campaign-page_campaign__SFW7x .p-campaign-report-button {
    align-items: center;
    display: flex;
    grid-area: reportbutton;
    margin-bottom: 3rem;
    margin-top: 3rem
}

@media(max-width:47.999em) {
    .campaign-page_campaign__SFW7x .p-campaign-report-button {
        justify-content: center
    }
}

.campaign-page_campaign__SFW7x .exp-gradient,
.campaign-page_campaign__SFW7x .exp-gradient-gfm {
    position: relative
}

.campaign-page_campaign__SFW7x .exp-gradient .icon-align-left,
.campaign-page_campaign__SFW7x .exp-gradient-gfm .icon-align-left {
    position: absolute
}

.campaign-page_campaign__SFW7x .exp-gradient-gfm .icon-align-left {
    left: .5rem;
    top: .5rem
}

.campaign-page_campaign__SFW7x .exp-gradient .icon-align-left {
    left: .625rem;
    top: .625rem
}

.campaign-page_campaign__SFW7x .exp-gradient-gfm--donate,
.campaign-page_campaign__SFW7x .exp-gradient-gfm--donate:hover {
    background: #f58131;
    background: linear-gradient(180deg, #fdb933 35.42%, #f58131 139.58%);
    border-color: #c06828;
    font-size: 1rem
}

.campaign-page_campaign__SFW7x .p-campaign-donation-suggestion-well {
    text-decoration: none
}

.campaign-page_campaign__SFW7x .p-campaign-donation-suggestion-well-content {
    margin-left: -1rem;
    margin-right: -1rem;
    position: relative
}

@media(min-width:64em) {
    .campaign-page_campaign__SFW7x .p-campaign-donation-suggestion-well-content {
        margin-left: 0;
        margin-right: 0
    }
}

.campaign-page_campaign__SFW7x .p-campaign-donation-suggestion-well-icon-large {
    bottom: 0;
    position: absolute
}

.campaign-page_campaign__SFW7x .p-campaign-donation-suggestion-well-image-placeholder {
    height: 3.125rem;
    width: 8.75rem
}

.campaign-page_campaign__SFW7x .p-campaign-donation-suggestion-well-small-image-container {
    align-self: center;
    flex-basis: 5rem;
    flex-grow: 0;
    flex-shrink: 0
}

.campaign-page_campaign__SFW7x .p-campaign-donation-suggestion-well-text-container {
    background-color: var(--hrt-color-surface-purple-subtle)
}

@media(orientation:landscape) {
    .campaign-page_campaign__SFW7x .t-campaign-page-header {
        scroll-snap-align: none
    }
}

@media(max-width:47.999em) {
    .campaign-page_campaign__SFW7x {
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

.campaign-page_valueProposition__u_sxv {
    margin-top: 3rem
}

@media(max-width:47.999em) {
    .campaign-page_valueProposition__u_sxv {
        margin-top: 1.5rem
    }
}

.campaign-page_referrals__tE6NK {
    align-items: center;
    display: flex;
    grid-area: referrals;
    height: 100%;
    padding-bottom: 3rem;
    padding-top: 3rem
}

@media(max-width:47.999em) {
    .campaign-page_referrals__tE6NK {
        justify-content: center;
        margin-left: -1rem;
        margin-right: -1rem
    }
}

.campaign-page_collections__ZmRpO {
    padding: 4rem 1rem
}

@media(min-width:48em) {
    .campaign-page_collections__ZmRpO {
        margin-top: 3rem;
        padding: 7.5rem 7.5rem 6rem
    }
}

.campaign-page_collectionsExperiment__pIzcW {
    margin: 0 -1.5rem;
    padding: 1.5rem
}

@media(min-width:48em) {
    .campaign-page_collectionsExperiment__pIzcW {
        margin-left: -46rem !important
    }
}

.campaign-page_shareAndDonate__qRlrx {
    grid-area: share-and-donate
}

.campaign-page_donationTiles__YgMB5 {
    grid-area: early-state-tiles;
    margin-bottom: .75rem
}

/*# sourceMappingURL=16e3b32c60fac0c3.css.map*/