.alert-banner-content_alertBanner__0NfzA {
    position: sticky;
    top: 0;
    z-index: 10
}

.full-address-fields_billingAddressFields__DJFpj,
.full-address-fields_billingAddressRow__5GeGF {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: auto
}

.full-address-fields_billingAddressRow__5GeGF {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr
}

@media(min-width:48em) and (max-width:63.999em) {
    .full-address-fields_billingAddressRowParent__MmFJ7 {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

@media(min-width:72em) {
    .full-address-fields_billingAddressRowParent__MmFJ7 {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

.short-address-fields_donationLocationFields__CsuR3,
.short-address-fields_donationLocationRow__hnPH_ {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: auto
}

.short-address-fields_donationLocationRow__hnPH_ {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr
}

@media(min-width:48em) and (max-width:63.999em) {
    .short-address-fields_donationLocationRowParent__b1cQI {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

@media(min-width:72em) {
    .short-address-fields_donationLocationRowParent__b1cQI {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

.short-address-fields_donationLocationAlert__78Nel {
    margin-top: -.5rem
}

.missing-details-modal_missingDetailsModalFields__9FVPT {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: auto
}

.missing-details-modal_missingDetailsModalFieldsRow__TaOMc {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto
}

@media(min-width:48em) {
    .missing-details-modal_missingDetailsModalFieldsRow__TaOMc {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

.apple-pay_applePayButton__DD1OQ {
    background-color: #000;
    color: var(--hrt-color-text-on-strong);
    font-family: -apple-system, sans-serif;
    font-weight: 400;
    letter-spacing: .01em
}

.apple-pay_applePayButton__DD1OQ:hover {
    background-color: #000;
    color: var(--hrt-color-border-implied-on-default)
}

.apple-pay_applePayButtonIcon__K6oT0 {
    background-image: -webkit-named-image(apple-pay-logo-white);
    height: 1.5rem;
    margin-left: .125rem;
    width: 3rem
}

.credit-card-submit-button_creditCardSubmitButtonWrapper__9cUFi {
    align-items: center;
    display: flex;
    flex-direction: column
}

.credit-card-submit-button_creditCardSubmitButton__nUGf9 {
    margin-bottom: 1rem;
    max-width: 22.5rem;
    width: 100%
}

.credit-card-submit-button_primaryBgSubmitButton__vzrb_ {
    background-color: var(--hrt-color-surface-implied-selected-strong) !important
}

.donation-personal-fields_donationPersonalFields__fdEpm,
.donation-personal-fields_donationPersonalRow__mqFjZ {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: auto
}

.donation-personal-fields_donationPersonalRow__mqFjZ {
    grid-column-gap: 1rem;
    grid-template-columns: 1fr
}

@media(min-width:48em) and (max-width:63.999em) {
    .donation-personal-fields_donationPersonalRowParent__gvwgP {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

@media(min-width:72em) {
    .donation-personal-fields_donationPersonalRowParent__gvwgP {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr))
    }
}

.credit-card-form-fields_creditCardGridFields__4DXxM {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    margin-top: -1rem
}

.credit-card-form-fields_creditCardPaymentHideLegend__baBa8 legend {
    display: none !important
}

.credit-card-form-fields_creditCardPaymentGridFields__k8JDb {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas: "card-number card-number" "date-and-cvv date-and-cvv";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto
}

@media(min-width:48em) and (max-width:63.999em) {
    .credit-card-form-fields_creditCardPaymentGridFields__k8JDb {
        grid-row-gap: 0;
        grid-template-areas: "card-number card-number date-and-cvv";
        grid-template-columns: auto auto max-content
    }
}

@media(min-width:64em) and (max-width:71.999em) {
    .credit-card-form-fields_creditCardPaymentGridFields__k8JDb {
        grid-template-areas: "card-number card-number" "date-and-cvv date-and-cvv"
    }
}

@media(min-width:72em) {
    .credit-card-form-fields_creditCardPaymentGridFields__k8JDb {
        grid-template-areas: "card-number card-number" "date-and-cvv date-and-cvv"
    }
}

.credit-card-form-fields_creditCardPaymentGridFields__k8JDb.credit-card-form-fields_withCobranded__pudFN {
    grid-template-areas: "card-number card-number" "card-brand card-brand" "date-and-cvv date-and-cvv"
}

@media(min-width:48em) and (max-width:63.999em) {
    .credit-card-form-fields_creditCardPaymentGridFields__k8JDb.credit-card-form-fields_withCobranded__pudFN {
        grid-row-gap: 1rem;
        grid-template-areas: "card-number card-number date-and-cvv" "card-brand card-brand card-brand";
        grid-template-columns: auto auto max-content
    }
}

@media(min-width:64em) and (max-width:71.999em) {
    .credit-card-form-fields_creditCardPaymentGridFields__k8JDb.credit-card-form-fields_withCobranded__pudFN {
        grid-template-areas: "card-number card-number" "card-brand card-brand" "date-and-cvv date-and-cvv"
    }
}

@media(min-width:72em) {
    .credit-card-form-fields_creditCardPaymentGridFields__k8JDb.credit-card-form-fields_withCobranded__pudFN {
        grid-template-areas: "card-number card-number" "card-brand card-brand" "date-and-cvv date-and-cvv"
    }
}

.credit-card-form-fields_creditCardPaymentGridRowDateCvv__86djb {
    display: grid;
    grid-area: date-and-cvv;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr
}

@media(max-width:47.999em) {
    .credit-card-form-fields_creditCardPaymentGridRowDateCvv__86djb {
        align-items: start;
        grid-template-columns: fit-content(12.59375rem) fit-content(12.59375rem)
    }
}

@media(min-width:48em) and (max-width:63.999em) {
    .credit-card-form-fields_creditCardPaymentGridRowDateCvv__86djb {
        grid-template-columns: 6rem 6rem
    }
}

.credit-card-form-fields_creditCardBrand__NGSUK {
    display: flex;
    flex-direction: column;
    grid-area: card-brand;
    row-gap: .5rem
}

@media(min-width:72em) {
    .credit-card-form-fields_creditCardBrand__NGSUK {
        column-gap: 1.5rem;
        flex-direction: row;
        justify-content: flex-start
    }
}

.credit-card-form-fields_creditCardNumber__dHud8 {
    grid-area: card-number
}

.giving-fund-submit-button_givingFundSubmitButton__Qfy_4 {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    max-width: 22.5rem;
    width: 100%
}

.loading-button_loadingButton__LC0qf {
    align-items: center
}

.loading-button_loadingButtonDots__jKml0 {
    position: absolute
}

.loading-button_loadingButtonText__Lhsd6 {
    opacity: 0
}

.ideal_idealSubmitButton__zmzEF {
    max-height: 3.125rem
}

.ideal_idealButtonWrapper__IwrO4 .adyen-checkout__field {
    visibility: hidden
}

.klarna_klarnaSubmitButton__qE2FA {
    max-height: 3.125rem
}

.paypal-express_paypalExpressSubmitButton___MdV8 iframe {
    border-radius: .75rem
}

@media(max-width:63.999em) {
    .payment-method-submit-button_paymentMethodSubmitButton__x_pFo {
        align-items: center;
        display: flex;
        flex-direction: column
    }
}

.ach_achLogo__0QE2N {
    height: auto;
    width: 3.75rem
}

.ach_institutionSearchWrapper__3O_s_ {
    height: 12rem
}

.payment-method-option_checkoutPaymentOption__2PCN3 {
    align-items: center
}

.payment-method-option_checkoutPaymentOption__2PCN3 .hrt-radio-field-label {
    width: 100%
}

.payment-method-option_checkoutPaymentItem__MRWEI {
    padding: 1rem
}

.payment-method-option_checkoutPaymentItem__MRWEI:not(:last-child) {
    border-bottom: 1px solid var(--hrt-color-border-neutral-subtle)
}

.payment-method-option_checkoutPaymentItem__MRWEI .a-radio {
    display: block
}

.payment-method-option_checkoutPaymentItem__MRWEI .m-form-field--inline .m-form-field-inner {
    align-items: center
}

.payment-method-option_achPoweredByPlaid__9RI1X {
    font-size: .625rem;
    position: absolute;
    right: 0;
    top: 0
}

.payment-method-option_achLogo__i_qed {
    margin-left: -.1875rem;
    margin-top: -.9375rem
}

.payment-methods-list_achDivider__Aq1fP {
    border-top: 1px solid var(--hrt-color-surface-neutral-subtle)
}

.checkout-summary_checkoutSummaryList__1z9xU {
    margin: 0
}

.checkout-summary_checkoutSummaryTotalLabel__u1WMD {
    border-top: 1px solid #0000;
    margin-top: .25rem
}

.checkout-summary_checkoutSummaryTotalAmount__oU1ez {
    border-top: 1px solid var(--hrt-color-surface-neutral-subtle);
    margin-top: .75rem
}

.checkout-summary_modalBody__iHBqm {
    max-width: 24.25rem
}

.checkout-rule_checkoutRule__RsZ5R {
    border-top: 1px solid var(--hrt-color-surface-neutral-subtle)
}

.checkout-form-fields_checkoutPaymentOptions__wTG9d {
    border: 1px solid var(--hrt-color-border-neutral-subtle);
    border-radius: .75rem
}

.recurring-upsell_upsell__TBAVl {
    height: 0;
    margin-top: -.5rem;
    overflow: hidden;
    transition: height .5s ease
}

@media(prefers-reduced-motion) {
    .recurring-upsell_upsell__TBAVl {
        transition: none
    }
}

.checkout-currency-field_checkoutCurrencyFieldWrapper__qPCom {
    background-color: var(--hrt-color-surface-default);
    border: 1px solid var(--hrt-color-border-neutral-medium);
    cursor: text;
    padding: .5rem .75rem
}

.checkout-currency-field_checkoutCurrencyFieldWrapper__qPCom:focus-within {
    outline: 1px auto #90ceff;
    outline: 5px auto -webkit-focus-ring-color;
    -webkit-outline-offset: -2px;
    -moz-outline-radius: 6px
}

.checkout-currency-field_checkoutCurrencyFieldError__bfIYM .checkout-currency-field_checkoutCurrencyFieldWrapper__qPCom {
    border-color: var(--hrt-color-border-negative)
}

.checkout-currency-field_checkoutCurrencyFieldCurrency__HQx3Q {
    flex-shrink: 0;
    text-align: center
}

.checkout-currency-field_checkoutCurrencyFieldSymbol__cPQmk {
    font-size: clamp(1.5rem, 1.5rem + .25*(100vw - 23.4375rem)/66.5625, 1.75rem)
}

.checkout-currency-field_checkoutCurrencyFieldInput__24KmH {
    background-color: initial;
    border: none;
    font-size: clamp(2rem, 2rem + 1.5*(100vw - 23.4375rem)/66.5625, 3.5rem)
}

.checkout-currency-field_checkoutCurrencyFieldWrapper__qPCom:focus-within .checkout-currency-field_checkoutCurrencyFieldInput__24KmH:focus {
    outline: none
}

.checkout-currency-field_checkoutCurrencyFieldAbbr__nx3Vj {
    font-size: .875rem;
    text-transform: uppercase
}

.checkout-currency-field_checkoutCurrencyFieldDecimal__PkzBR {
    font-size: clamp(2rem, 2rem + 1.5*(100vw - 23.4375rem)/66.5625, 3.5rem)
}

.checkout-currency-field_currencySelect__28OwJ {
    bottom: -.875rem;
    margin-right: .75rem;
    right: 0
}

.suggested-donation-tag_tag__i3Y06 {
    color: var(--hrt-color-text-default) !important;
    white-space: nowrap;
    z-index: 1
}

.suggested-donation-tag_icon__dhYCn {
    font-size: .5rem
}

.suggested-donation-tag_icon__dhYCn.suggested-donation-tag_withLabel__sv0PQ {
    margin-right: 2px
}

.suggested-donation-tile_button__vbexw {
    padding-left: .5rem;
    padding-right: .5rem;
    white-space: nowrap
}

@media(max-width:47.999em) {
    .suggested-donation-tile_button__vbexw {
        padding-left: .25rem;
        padding-right: .25rem
    }
}

.suggested-donation-tile_buttonUnselected__bdFUC:not(.hrt-secondary-button--disabled):hover {
    background-color: initial;
    border-color: var(--hrt-color-border-neutral-medium)
}

@media(hover:hover) {
    .suggested-donation-tile_buttonUnselected__bdFUC:not(.hrt-secondary-button--disabled):hover {
        background-color: rgba(var(--hrt-color-surface-neutral-strong), .05);
        border-color: var(--hrt-color-border-neutral)
    }
}

.suggested-donation-tile_buttonSelected__l4ekR {
    background-color: var(--hrt-color-surface-neutral-strong);
    border-color: #0000;
    color: var(--hrt-color-text-on-strong)
}

.suggested-donation-tile_buttonSelected__l4ekR:not(.hrt-secondary-button--disabled):hover {
    background-color: var(--hrt-color-surface-neutral-strong);
    border-color: #0000;
    color: var(--hrt-color-border-implied-on-default)
}

@media(hover:hover) {
    .suggested-donation-tile_buttonSelected__l4ekR:not(.hrt-secondary-button--disabled):hover {
        background-color: var(--hrt-color-icon-supporting);
        color: var(--hrt-color-border-implied-on-default)
    }
}

.suggested-donation-tile_tag__xRBex {
    bottom: -4px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%)
}

.suggested-donations_suggestedDonationsList4Tiles__c1XjX {
    grid-column-gap: .5rem;
    column-gap: .5rem;
    display: grid;
    grid-auto-flow: row;
    grid-gap: .5rem;
    grid-template-columns: repeat(4, 1fr)
}

.suggested-donations_suggestedDonationsList4Tiles__c1XjX.suggested-donations_localized__zTMn5:has(.tile-medium-length) {
    grid-template-columns: repeat(2, 1fr)
}

@media(min-width:36em) {
    .suggested-donations_suggestedDonationsList4Tiles__c1XjX {
        grid-gap: .5rem
    }
}

@media(min-width:48em) {
    .suggested-donations_suggestedDonationsList4Tiles__c1XjX {
        grid-template-columns: repeat(4, 1fr)
    }
}

.suggested-donations_suggestedDonationsList6Tiles__s2P9k {
    display: grid;
    grid-auto-flow: row;
    grid-gap: .5rem;
    grid-template-columns: repeat(3, 1fr)
}

@media(min-width:36em) {
    .suggested-donations_suggestedDonationsList6Tiles__s2P9k {
        grid-template-columns: repeat(6, 1fr)
    }
}

@media(min-width:36em) {
    .suggested-donations_suggestedDonationsList6Tiles__s2P9k.suggested-donations_localized__zTMn5:has(>:nth-child(3) .tile-medium-length) {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media(max-width:35.999em) {
    .suggested-donations_suggestedDonationsList6Tiles__s2P9k.suggested-donations_localized__zTMn5:has(>:nth-child(3) .tile-long-length) {
        grid-template-columns: repeat(2, 1fr)
    }
}

.suggested-donations_customFieldBold__WW_He .hrt-currency-field-input {
    font-weight: 700
}

.suggested-donations_customFieldBold__WW_He .hrt-currency-field-label {
    font-weight: 400
}

.giving-fund-payment-method-option_checkoutPaymentOption__uSLXs {
    align-items: center
}

.giving-fund-payment-method-option_checkoutPaymentOption__uSLXs .hrt-radio-field-label {
    width: 100%
}

.giving-fund-payment-method-option_checkoutPaymentItem__8Orr1 {
    padding: 1rem
}

.giving-fund-payment-method-option_checkoutPaymentItem__8Orr1:has(~li) {
    border-bottom: 1px solid var(--hrt-color-border-neutral-subtle)
}

.giving-fund-payment-method-option_addFundsButton__7_tXa {
    min-width: -moz-fit-content;
    min-width: fit-content
}

.giving-fund-payment-method-option_icon__cGvUO {
    height: 2rem;
    margin-right: 1rem;
    width: 2.5rem
}

.daf-checkout-form-fields_checkoutPaymentOptions__vIEbi {
    border: 1px solid var(--hrt-color-border-neutral-subtle);
    border-radius: .75rem .75rem 0 0
}

.daf-checkout-form-fields_roundedBorder__HV4ru {
    border-radius: .75rem .75rem
}

.daf-checkout-form-fields_paymentMethodsControlButton__OQHMi {
    align-items: center;
    border-radius: 0 0 .75rem .75rem;
    border: 1px solid var(--hrt-color-border-neutral-subtle);
    border-top: none;
    display: flex;
    flex-direction: row;
    height: 3rem;
    justify-content: space-between;
    width: 100%
}

.once-monthly-buttons_button__bTsOo {
    overflow: hidden
}

@media(max-width:47.999em) {
    .once-monthly-buttons_button__bTsOo {
        padding: .5rem 1.5rem
    }
}

.once-monthly-buttons_button__bTsOo.once-monthly-buttons_isAnimating__yCU2t {
    overflow: visible
}

.once-monthly-buttons_animation__nidmM {
    height: 0;
    position: relative
}

.once-monthly-buttons_heartIcon__PExBK {
    bottom: .125rem;
    height: 3rem;
    left: 0;
    position: absolute;
    width: 1.375rem
}

.once-monthly-buttons_disabledIcon__V6dSl {
    opacity: .5
}

.once-monthly-buttons_monthlyButton__rKFXI {
    align-items: flex-end
}

@keyframes once-monthly-buttons_shimmerEffect__OcLSW {

    0%,
    30% {
        background-position: 150% 0
    }

    70%,
    to {
        background-position: -150% 0
    }
}

.once-monthly-buttons_shimmer__o_Jl0 {
    animation: once-monthly-buttons_shimmerEffect__OcLSW 3s linear infinite;
    background: linear-gradient(90deg, #333, #77ca59 25%, #333 50%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 150% 100%;
    color: #0000;
    position: relative;
    will-change: background-position
}

@keyframes once-monthly-buttons_bounceArrow__9DFwQ {

    0%,
    30%,
    70%,
    to {
        transform: rotate(0) translateY(0)
    }

    50% {
        transform: rotate(-10deg) translateY(-5px)
    }
}

.once-monthly-buttons_arrow__35EXr {
    animation: once-monthly-buttons_bounceArrow__9DFwQ 2s ease-in-out infinite;
    margin-left: .25rem
}

@keyframes once-monthly-buttons_heartScale__I4CaB {

    0%,
    10%,
    90%,
    to {
        transform: scale(1)
    }

    50% {
        transform: scale(1.5)
    }
}

.once-monthly-buttons_heartBeat__tCTdn {
    animation: once-monthly-buttons_heartScale__I4CaB 1s ease-in-out infinite;
    transform-origin: center 80%
}

.saved-payment-method_savedPaymentMethodItem__2qP_I .hrt-radio-field-label {
    align-items: flex-start;
    width: 100%
}

.saved-payment-method_savedPaymentMethodItemRemoveButton__4_6CD {
    margin-top: -5px
}

.saved-payment-method_savedPaymentMethodItemDisabledPopover__3efz2 {
    margin-top: -.5rem
}

@media(max-width:47.999em) {
    .saved-payment-method_paymentMethodItemConfirmation__9jrHa {
        display: flex;
        flex-direction: column;
        width: 100%
    }
}

.saved-payment-method_savedPaymentMethodItemLeftButton__4YICJ {
    margin-right: 1.5rem
}

@media(max-width:47.999em) {
    .saved-payment-method_savedPaymentMethodItemLeftButton__4YICJ {
        margin-right: 0;
        margin-top: 1rem
    }

    .saved-payment-method_savedPaymentMethodItemRightButton__uVYNP {
        align-self: center;
        margin-top: 1.5rem
    }
}

.saved-payment-method_savedPaymentMethodItemLoadingDots__C4BHR {
    margin-top: .5rem
}

@media(max-width:47.999em) {
    .saved-payment-method_savedPaymentMethodItemLoadingDots__C4BHR {
        margin-top: 1.5rem
    }
}

.saved-payment-method_savedPaymentMethodItemDescription__SWT0r {
    max-width: 18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media(max-width:47.999em) {
    .saved-payment-method_savedPaymentMethodItemDescription__SWT0r {
        max-width: 9.375rem
    }
}

@media(min-width:64em) and (max-width:71.999em) {
    .saved-payment-method_savedPaymentMethodItemDescription__SWT0r {
        max-width: 9.375rem
    }
}

.saved-payment-method_savedPaymentMethodItemPmtLogo__ISctz {
    margin-top: -7px
}

.saved-payment-method_savedPaymentMethodItemTrashIcon__j8Wie {
    margin-top: -12px
}

.saved-payment-method-list_savedPaymentItem__Q7OQF {
    padding: 1rem
}

.saved-payment-method-list_savedPaymentItem__Q7OQF:not(:last-child) {
    border-bottom: 1px solid var(--hrt-color-border-neutral-medium)
}

.saved-payment-method-list_savedPaymentItem__Q7OQF .a-radio {
    display: block
}

.saved-payment-method-list_savedPaymentItem__Q7OQF .m-form-field--inline .m-form-field-inner {
    align-items: center
}

.giving-fund-checkout-summary_checkoutSummaryTotalLabel__kXSs8 {
    border-top: .0625rem solid #0000;
    color: var(--hrt-color-text-default);
    margin-top: .25rem;
    padding-top: 1rem
}

.giving-fund-checkout-summary_checkoutSummaryTotalAmount__3AT7Z {
    border-top: .0625rem solid var(--hrt-color-surface-neutral-subtle);
    color: var(--hrt-color-text-default);
    margin-top: .75rem;
    padding-top: 1rem
}

.giving-fund-checkout-summary_modal__aU4tU {
    min-height: 21.3125rem
}

@media(min-width:48em) {
    .giving-fund-checkout-summary_modal__aU4tU {
        max-width: 24.375rem
    }
}

.giving-fund-checkout-summary_processingFeeAmount__Cvn_t {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    min-height: 2rem
}

.giving-fund-checkout-form-fields_checkoutPaymentOptions__WEKkE {
    border: 1px solid var(--hrt-color-border-neutral-subtle);
    border-radius: .75rem
}

.giving-fund-not-enough-funds-modal_modal__utWOj {
    min-height: 21.3125rem
}

@media(min-width:48em) {
    .giving-fund-not-enough-funds-modal_modal__utWOj {
        max-width: 24.375rem;
        min-height: 22.1875rem
    }
}

.giving-fund-not-enough-funds-modal_modalBody__dkn6C {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem
}

@media(min-width:48em) {
    .giving-fund-not-enough-funds-modal_modalBody__dkn6C {
        padding-bottom: 3rem
    }
}

.giving-fund-not-enough-funds-modal_title__KuueQ {
    font-family: CircularXXWeb, Trebuchet, Helvetica, Arial, sans-serif;
    font-size: clamp(1.25rem, 1.25rem + .25*(100vw - 23.4375rem)/66.5625, 1.5rem);
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: .875rem;
    text-align: center
}

@media(min-width:48em) {
    .giving-fund-not-enough-funds-modal_title__KuueQ {
        font-family: CircularXXWeb, Trebuchet, Helvetica, Arial, sans-serif;
        font-size: clamp(1.5rem, 1.5rem + .25*(100vw - 23.4375rem)/66.5625, 1.75rem);
        font-weight: 600;
        letter-spacing: 0;
        line-height: 1.2;
        margin-bottom: 1rem;
        margin-top: .625rem
    }
}

.giving-fund-not-enough-funds-modal_icon__8LzZy {
    align-items: center;
    background-color: var(--hrt-color-surface-negative-subtle);
    border-radius: 50%;
    color: var(--hrt-color-icon-negative);
    display: flex;
    flex-shrink: 0;
    height: 2.5rem;
    justify-content: center;
    margin: auto auto 0;
    padding: .5rem;
    width: 2.5rem
}

.giving-fund-not-enough-funds-modal_text__RfENr {
    font-family: CircularXXWeb, Trebuchet, Helvetica, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
    color: var(--hrt-color-text-supporting);
    margin-bottom: 1.5rem;
    text-align: center
}

@media(min-width:48em) {
    .giving-fund-not-enough-funds-modal_text__RfENr {
        margin-bottom: 1rem
    }
}

@media(max-width:47.999em) {
    .giving-fund-entity-summary_entitySummary__dfHvC {
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: 0
    }
}

@media(min-width:48em) {
    .giving-fund-entity-summary_entitySummary__dfHvC {
        align-items: center;
        display: flex;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem
    }
}

@media(max-width:47.999em) {
    .giving-fund-entity-summary_campaignSummaryText__GaEs6 {
        padding-left: 1rem;
        padding-right: 1rem
    }
}

.core-entity-summary_campaignSummaryImageWrapper__cxtCC {
    display: flex;
    justify-content: center
}

@media(max-width:47.999em) {
    .core-entity-summary_campaignSummaryImageWrapper__cxtCC {
        margin-bottom: 1rem
    }
}

@media(min-width:48em) {
    .core-entity-summary_campaignSummaryImageWrapper__cxtCC {
        margin-right: 1rem;
        width: 8.25rem
    }
}

.core-entity-summary_campaignSummaryImage__nTINQ {
    border-radius: .5rem;
    max-height: 5.5rem;
    width: auto
}

@media(max-width:47.999em) {
    .core-entity-summary_campaignSummaryText__Y8XzY {
        padding-left: 1rem;
        padding-right: 1rem
    }

    .core-entity-summary_recurringDonationsHeader__LI7zO {
        text-align: center
    }

    .entity-summary_entitySummary__P18r9 {
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: 0
    }
}

@media(min-width:48em) {
    .entity-summary_entitySummary__P18r9 {
        align-items: center;
        display: flex;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem
    }
}

.gfm-guarantee_description__LfeNb {
    color: var(--hrt-color-text-supporting);
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5
}

.giving-fund-donations-checkout-footer_icon__HtRGz {
    height: 4rem;
    width: 4rem
}

.checkout-page_checkoutPage__LCkAY {
    padding: 1.5rem .5rem 1rem
}

@media(min-width:64em) {
    .checkout-page_checkoutPage__LCkAY {
        margin: 1.5rem auto 2rem;
        max-width: 40.9375rem;
        padding: 0
    }

    .checkout-page_checkoutCard__u69JA {
        background-color: var(--hrt-color-surface-default);
        border-radius: 2.5rem;
        padding: 2rem 3rem 3rem
    }
}

.checkout-page_checkoutPage__LCkAY .grecaptcha-badge {
    visibility: hidden
}

.checkout-layout_checkoutLayout__J6sZi {
    overflow: hidden
}

@media(min-width:64em) {
    .checkout-layout_checkoutLayout__J6sZi {
        background-color: var(--hrt-color-surface-neutral-subtle);
        min-height: 100%
    }
}

.checkout-layout_checkoutHeaderNav__neIDw {
    background-color: var(--hrt-color-surface-default)
}

.checkout-layout_checkoutLayoutMain__fv3Qi {
    margin: 0 auto;
    max-width: 72rem;
    padding-left: 1rem;
    padding-right: 1rem
}

@media(max-width:47.999em) {
    .checkout-layout_checkoutLayoutMain__fv3Qi {
        margin: 0 auto;
        max-width: 72rem
    }
}

/*# sourceMappingURL=4acc38c77f0ea9ed.css.map*/